.MuiBox-root.css-19kzrtu::-webkit-scrollbar {
  /* width: 20em; */
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

body::-webkit-scrollbar-thumb {
  /* background-color: darkgrey; */
  /* outline: 1px solid slategrey; */
}
